<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/styles/err.css">
    <title>Document</title>
</head>
<body>
   <div class="error-page">
    <div class="gopher-img">
        <img src="/ui/utilities/gopherSad.png" alt="Sad Gopher" class="gopher">
    </div>
    <div class="Err-Message">
        <div class="ups">
            UPS, you made me so sad
        </div>

        <div class="code">
            {{.}}
        </div>  
        
    </div>
   </div>
</body>
</html>